.searchbar {
    top: 0;
    left: 0;
    position: sticky;
    z-index: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64px;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    background-color: #3f51b5;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);}
.form {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.button {
    /* background-color: rgb(236, 235, 235); */
    border-radius: 2px;
    border-color: inherit;
    border-style: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0;
}
.input {
    border-style: none;
    border-color: inherit;
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 14px;
    width: 200px;
    height: 20px;
    border: none;
    outline: none;

}
.input::placeholder {
    font: inherit;
    font-size: 12px;
  }
.button {
    display: inline-block;
  width: 20px;
  height: 20px;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}
/* .button:hover {
    opacity: 3;
  } */

.button_label {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap;
clip-path: inset(50%);
border: 0;
}


.icon {
    width: 100%;
    height: auto;
    fill:black;
    padding: 4px;
    opacity: 0.6;
}
.icon:hover {
    fill: black;
    opacity: 1;
}